mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		+e.row.row
			mixin item(title, img, city, categories, text, links)
				+e.item
					+e.item-row.row
						+e.col.col-sm
							+e.img-wrap(href='#')
								.img-wrap-center
									+e.icon-wrap
										+icon('product')
									if img
										+e.img
											+img('img/company-logo-2.jpg')
						.col-sm
							a(href='#').h4!= title
							+e.city!= city 
							+e.categories!= categories
							p
								span Регионы поставки: 
								!= text
							+e.btn-row.row
								.col-auto
									+e.btn(href='#').btn.btn-primary.btn-base написать
								.col-auto
									+e.btn.btn.btn-outline-secondary.btn-base-secondary(href='#') Подробнее
						if links
							.col-auto.d-none.d-xxl-block
								+e.wrap 
									+e.content(href='#')
										+e.content-img
											.img-wrap-center
												+img('img/sServices-img-1.jpg')
										p Ручки гелевые ЮНЛАНДИЯ, НАБОР 6 ЦВЕТОВ ...
									+e.content(href='#')
										+e.content-img
											.img-wrap-center
												+img('img/sServices-img-2.jpg')
										p Бумага для акварели 300 г/м2 360x460 мм крупное зерно ...
									+e.content(href='#')
										+e.content-img
											.img-wrap-center
												+img('img/sServices-img-3.jpg')
										p Закладки клейкие BRAUBERG НЕОНОВЫЕ ...
			.col-12
				+item('Торговая компания МИХКО', 'true', 'Ростов-на-Дону', 'Мебель, Уличное оборудование, Приборы и наглядное оборудование', 'Ростовская область, Московская область, Самарская область, Саратовская область', true)
			.col-12
				+item('Торговая компания МИХКО', '', 'Ростов-на-Дону', 'Мебель, Уличное оборудование, Приборы и наглядное оборудование', 'Ростовская область, Московская область, Самарская область, Саратовская область')
			.col-12
				+item('Торговая компания МИХКО', 'true', 'Ростов-на-Дону', 'Мебель, Уличное оборудование, Приборы и наглядное оборудование', 'Ростовская область, Московская область, Самарская область, Саратовская область', true)
			.col-12
				+item('Торговая компания МИХКО', '', 'Ростов-на-Дону', 'Мебель, Уличное оборудование, Приборы и наглядное оборудование', 'Ростовская область, Московская область, Самарская область, Саратовская область')
			.col-12
				+item('Торговая компания МИХКО', 'true', 'Ростов-на-Дону', 'Мебель, Уличное оборудование, Приборы и наглядное оборудование', 'Ростовская область, Московская область, Самарская область, Саратовская область', true)
		+pugin
	// end sServices