mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		+e.wrap
			+e.inner-row.row
				+e.inner-col.col-xl-6.col-xxl
					+e.slider-wrap
						+e.slider--js.swiper
							+e.full-size
								+icon('fullscreen')
							.swiper-wrapper
								mixin slide2()
									+e.slide.swiper-slide(data-src=`img/sProductCard-img-1.jpg` data-fancybox=`sCard-gallery`)
										+e.img-wrap
											//- img(src=`img/card-md-1.jpg` alt='')
											.img-wrap-center
												+img(`img/sProductCard-img-1.jpg`, `bg`)
								+slide2()
								+slide2()
								+slide2()
								+slide2()
								+slide2()
								+slide2()
							+arrow
						+e.slider-thumbs--js.swiper
							.swiper-wrapper
								mixin slide(i)
									+e.slide.swiper-slide
										+e.img-wrap--thumbs
											.img-wrap-center
												+img(`img/sProductCard-img-sm-${i}.jpg`, `bg`)
											//- img(src=`img/@2x/sProject-sm-${i}.jpg` alt='')
								+slide(1)
								+slide(2)
								+slide(3)
								+slide(4)
								+slide(5)
								+slide(5)
				.col
					+e.content
						h1 Спортивный зал школы
						h5 Задача:
						p Комплектация спортзала согласно проектной документации и Приказа.
						h5 Поставщик:
						+e.company(href="#")
							+e.company-img-wrap
								.img-wrap-center
									+img('img/company-logo.jpg')
							div
								p Торговая компания МИХКО
								span Ростов-на-Дону
						.row
							.col-lg
								+e.btn.btn.btn-primary.btn-base(href='#' data-src='modal-call' data-fancybox="modal") хочу также
							.col-lg
								+e.btn.btn.btn-outline-secondary.btn-base-secondary(href='#' data-src='modal-question' data-fancybox="modal") задать вопрос
	// end sProductCard