
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-report"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h2 Пожаловаться на поставщика
					p.after-headline Опишите в деталях с какими сложностями вы столкнулись в работе с поставщиком

				+input("Комментарий", 'textarea')(required)  
				+input("Ваше Имя")(required)  
				+input("Ваш телефон", 'tel')(required)  
				+input("Ваш регион", 'text')(required)  
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )  Отправить
	// #modal-report
	
	div(id="modal-report-send"  style="display: none" )
		+b.modal-win
			.text-center
				+e.title.form-data.h2 Жалоба отправлена
				p.after-headline Мы свяжемся с Вами в ближайшее время для уточнения деталей, а также уведомим поставщика о вашей жалобе
			+e.BUTTON.btn.btn.btn-primary.modal-close-js Закрыть

	div(id="modal-subscription"  style="display: none" )
		+b.modal-win
			.text-center
				+e.title.form-data.h2 Подписка оформлена
				p.after-headline Иногда мы будем высылать полезные материалы на указанную вами почту
			+e.BUTTON.btn.btn.btn-primary.modal-close-js Закрыть

	div(id="modal-city"  style="display: none" )
		+b.modal-win--city
			.h2 Выбор региона
			+input('Быстрый поиск')
			mixin item(text)
				+e.wrap
					+e.item
						+e.plus
						+in-c('checkbox', text)
					+e.inner
						+in-c('checkbox', 'Ставропольский край')
						+in-c('checkbox', 'Дагестан, республика')
						+in-c('checkbox', 'Ингушетия, республика')
						+in-c('checkbox', 'Кабардино-Балкарская республика')
						+in-c('checkbox', 'Карачаево-Черкесская республика')
						+in-c('checkbox', 'Северная Осетия - Алания, республика')
						+in-c('checkbox', 'Чеченская республика')
			+item('Центральный федеральный округ')
			+item('Северно-Западный федеральный округ')
			+item('Южный федеральный округ')
			+item('Северо-Кавказский федеральный округ')
			+item('Приволжский федеральный округ')
			+item('Уральский федеральный округ')
			+item('Сибирский федеральный округ')
			+item('Дальневосточный федеральный округ')
			+e.footer
				.row
					.col-lg
						.h4 Выбрано регионов: 0
					.col-lg-auto
						+e.btn.btn.btn-outline-light(href='#') Очистить
					.col-lg-auto
						+e.btn.btn.btn-primary(href='#') Готово
	// end modals