mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				h2 Обзоры и новости
			+e.row.row
				.col-sm-6.col-xl-3
					+news-item({
						img: 'news-item-img-4.png',
						item: 'Дизайн, концепты и стройка',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						date: '4 декабря 2022',
					})
				.col-sm-6.col-xl-3
					+news-item({
						img: 'news-item-img-4.png',
						item: 'Дизайн, концепты и стройка',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						date: '4 декабря 2022',
					})
				.col-sm-6.col-xl-3
					+news-item({
						img: 'news-item-img-4.png',
						item: 'Дизайн, концепты и стройка',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						date: '4 декабря 2022',
					})
				.col-sm-6.col-xl-3
					+news-item({
						img: 'news-item-img-4.png',
						item: 'Дизайн, концепты и стройка',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						date: '4 декабря 2022',
					})
			+e.btn.btn.btn-outline-secondary.btn-base-secondary(href='#') 
				| Перейти в обзоры и новости
				+icon('chevron-right')
	// end sNews