@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-book {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-cart {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-down {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-left {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-right {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-delete {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-eye {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fullscreen {
	font-size:math.div(21,10)*1rem;
	width: math.div(21,21)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-kindergarten {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-letter {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-logOut {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-login {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-mail {
	font-size:math.div(25,10)*1rem;
	width: math.div(25,25)*1em;
}
.icon-orders {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-pass {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-phone {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-pin {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-product {
	font-size:math.div(80,10)*1rem;
	width: math.div(80,80)*1em;
}
.icon-search {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-store {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-tel {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-user {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-www {
	font-size:math.div(25,10)*1rem;
	width: math.div(25,25)*1em;
}
.icon-xls {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
