mixin sGalleryBlock(data)
	// start sGalleryBlock
	+b.sGalleryBlock.section#sGalleryBlock&attributes(attributes)
		+e.inner-row.row
			.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-1.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 1,
					imgLg: 'news-item-img-lg-1.jpg'
				})
			.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-2.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 2,
					imgLg: 'news-item-img-lg-2.png'
				})
			.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-3.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 3,
					imgLg: 'news-item-img-lg-3.png'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-2.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 4,
					imgLg: 'news-item-img-lg-2.png'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-3.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 5,
					imgLg: 'news-item-img-lg-3.png'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-1.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 6,
					imgLg: 'news-item-img-lg-1.jpg'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-3.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 7,
					imgLg: 'news-item-img-lg-3.png'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-1.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 8,
					imgLg: 'news-item-img-lg-1.jpg'
				})
			.d-none.d-md-block.col-md-6.col-xl-6.col-xxl-4
				+gallery-item({
					img: 'news-item-img-2.jpg',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
					fancybox: 9,
					imgLg: 'news-item-img-lg-2.png'
				})
		+pugin
	// end sGalleryBlock