mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7.col-xl-8
					mixin item(img, text)
						+e.item(href="#")
							+e.img-wrap
								.img-wrap-center
									+img(`img/${img}`, 'bg')
							p!= text
					+e.inner-row.row
						.col-md-6.col-lg-12.col-xl-6
							+item('sAbout-img-1.jpg', 'Товары (опт)')
						.col-md-6.col-lg-12.col-xl-6
							+item('sAbout-img-2.jpg', 'Товары (опт)')
						.col-md-6.col-lg-12.col-xl-6
							+item('sAbout-img-3.jpg', 'частным лицам (розничная торговля)')
						.col-md-6.col-lg-12.col-xl-6
							+item('sAbout-img-4.jpg', 'Каталог поставщиков товаров и услуг')
				.col-lg-5.col-xl-4
					+e.content
						h1 О компании
						p &laquo;РОССКЛАСС&raquo; является одним из&nbsp;крупнейших дистрибьюторов на&nbsp;Сахалине и&nbsp;в&nbsp;Дальневосточном Федеральном округе, занимается комплексным оснащением детских образовательных учреждений, школ и&nbsp;государственных предприятий. Мы&nbsp;всегда готовы предложить нашим клиентам большой ассортимент разнообразной продукции, которая создаст комфортные условия для учебного процесса, полноценного отдыха и&nbsp;активного развития творческих способностей.
						h3 Доставим в короткие сроки
						p Наличие собственных складов является неоспоримым преимуществом, как для нас, но также и для наших клиентов, поскольку это делает нашу компанию более надежным поставщиком. Вы можете всегда быть уверены в том, что...
						a(href='#').btn.btn-primary.btn-base подробнее
	// end sAbout