extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sNewsBlock/_sNewsBlock.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= '' 
	- let  bg= '02-categories.jpg'

block title
	- let  title= 'Новости и обзоры'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+b.main-content-wrapper
			.container
				+e.row.row
					.col-lg-4.col-xxl-3.d-none.d-lg-block
						+filter2('true')
						+tags()
					.col-lg-8.col-xxl-9
						+b.page-head
							+e.inner-row.row
								.col-lg
									+breadcrumb('Главная', 'Новости и обзоры')
									h1 Новости и обзоры
								.col-12.d-block.d-lg-none
									+filter2('true')
								.col-lg-auto
									+e.text
										+icon('letter')
										| Подписка на новости и обзоры
									+e.search-wrap
										+search('Введите ваш email', 'email', false)
						+sNewsBlock()
	+footer()
      



