extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sServices/_sServices.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= '' 
	- let  bg= '02-categories.jpg'

block title
	- let  title= 'Сервис'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+b.main-content-wrapper
			.container
				+e.row.row
					.col-lg-4.col-xxl-3.d-none.d-lg-block
						+filter
					.col-lg-8.col-xxl-9
						+page-head('Дизайн зданий, помещений, ландшафтный дизайн', 'true', '', 'true', '', '', 'Каталог', 'Услуги (опт)', 'Дизайн зданий, помещений, ландшафтный дизайн')
						+filter.d-block.d-lg-none
						+components({
							btns: true,

							settings: true
						})
						+sServices()
	+footer()
      



