mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xxl-3.d-none.d-lg-block
					+filter2('true')
					mixin tags()
						+e.tags-wrap&attributes(attributes)
							h5 Тэги
							+e.tags-row.row
								.col-auto
									+e.tag(href='#') Школа
								.col-auto
									+e.tag(href='#') Amazon
								.col-auto
									+e.tag(href='#') Выставка
								.col-auto
									+e.tag(href='#') Amazon
								.col-auto
									+e.tag(href='#') Выставка
					+tags()
				.col-lg-8.col-xxl-9
					+page-head('РОССКЛАСС представляет электронное расписание для школы', '', '', '', '', 'Новости и обзоры', 'РОССКЛАСС представляет электронное расписание для школы')
					+filter2('true').d-lg-none
					+img('img/content-img.jpg').res-i
					p.big-text (большой текст) Система состоит из&nbsp;потолочных модулей электроснабжения и&nbsp;щитка управления. Система полностью автономная, потолочные модули требуют только подвода питания 220&nbsp;В. Нет необходимости устанавливать в&nbsp;кабинете громоздкий шкаф с&nbsp;трансформатором, в&nbsp;потолочный модуль электроснабжения уже встроен понижающий мини трансформатор на&nbsp;42&nbsp;В. В&nbsp;опущенном положении потолочный модуль находится на&nbsp;уровне 1,3 метра от&nbsp;пола, в&nbsp;поднятом 1,9&nbsp;метра.
					h2 Заголовок H1
					p (Обычный текст) Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
					h4 Заголово к H2
					p Текст для одной строки (например пункт меню)
					h5 Заголовок H3
					ul
						li Договор аренды без перехода права собственности
						li Унифицированная форма МХ-1
						li Залоговая стоимость металла не облагается НДС
						li Вы не несете ответственность за состояние шпунта при его возврате
					h6 Заголовок H4
					p (Обычный текст) Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
					h4 Заголовок H2
					+e.OL.numbered-list
						li Договор аренды без перехода права собственности
						li Унифицированная форма МХ-1
						li Залоговая стоимость металла не облагается НДС
						li Вы не несете ответственность за состояние шпунта при его возврате
					+e.btn(href='#').btn.btn-primary.btn-base Продолжить
					+tags().d-lg-none
					h2 Похожие новости и обзоры
					+e.inner-row.row
						.col-sm-6.col-xxl-4
							+news-item({
								img: 'news-item-img-4.png',
								item: 'Дизайн, концепты и стройка',
								title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
								date: '4 декабря 2022',
							})
						.col-sm-6.col-xxl-4
							+news-item({
								img: 'news-item-img-4.png',
								item: 'Дизайн, концепты и стройка',
								title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
								date: '4 декабря 2022',
							})
						.col-sm-6.col-xxl-4
							+news-item({
								img: 'news-item-img-4.png',
								item: 'Дизайн, концепты и стройка',
								title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
								date: '4 декабря 2022',
							})
	// end sContent