mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+img('img/content-img.jpg').res-i
		p.big-text (большой текст) Система состоит из&nbsp;потолочных модулей электроснабжения и&nbsp;щитка управления. Система полностью автономная, потолочные модули требуют только подвода питания 220&nbsp;В. Нет необходимости устанавливать в&nbsp;кабинете громоздкий шкаф с&nbsp;трансформатором, в&nbsp;потолочный модуль электроснабжения уже встроен понижающий мини трансформатор на&nbsp;42&nbsp;В. В&nbsp;опущенном положении потолочный модуль находится на&nbsp;уровне 1,3 метра от&nbsp;пола, в&nbsp;поднятом 1,9&nbsp;метра.
		h2 Заголовок H1
		p (Обычный текст) Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
		h4 Заголово к H2
		p Текст для одной строки (например пункт меню)
		h5 Заголовок H3
		ul
			li Договор аренды без перехода права собственности
			li Унифицированная форма МХ-1
			li Залоговая стоимость металла не облагается НДС
			li Вы не несете ответственность за состояние шпунта при его возврате
		h6 Заголовок H4
		p (Обычный текст) Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
		h4 Заголовок H2
		ol
			li Договор аренды без перехода права собственности
			li Унифицированная форма МХ-1
			li Залоговая стоимость металла не облагается НДС
			li Вы не несете ответственность за состояние шпунта при его возврате
		a(href='#').btn.btn-primary.btn-base Продолжить
	// end sContent