mixin sGallery(data)
	// start sGallery
	+b.SECTION.sGallery.section#sGallery&attributes(attributes)
		.container
			+b.section-title
				h2 Фотогалерея
			+e.row.row
				.col-md-6.col-xl-3.col-xxl-3
					+gallery-item({
						img: 'news-item-img-1.jpg',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						fancybox: 1,
						imgLg: 'news-item-img-lg-1.jpg'
					})
				.col-md-6.col-xl-3.col-xxl-3
					+gallery-item({
						img: 'news-item-img-2.jpg',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						fancybox: 2,
						imgLg: 'news-item-img-lg-2.png'
					})
				.col-md-6.col-xl-3.col-xxl-3
					+gallery-item({
						img: 'news-item-img-3.jpg',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						fancybox: 3,
						imgLg: 'news-item-img-lg-3.png'
					})
				.col-md-6.col-xl-3.col-xxl-3
					+gallery-item({
						img: 'news-item-img-4.jpg',
						title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием оборудования',
						fancybox: 4,
						imgLg: 'news-item-img-lg-1.jpg'
					})
			+e.btn.btn.btn-outline-secondary.btn-base-secondary(href='#') 
				| Перейти в фотогалерею
				+icon('chevron-right')
	// end sGallery