mixin product-item(i, t)
	+b.product-item(href="#")
		+e.img-wrap
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/product-item-${i}.png`)
		+e.title!= t
	// /.product-item

mixin sCatalog(title, btns, ...items)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xxl-3
					+filter
				.col-lg-8.col-xxl-9
					+page-head(title, btns, ...items)
					block
	// end sCatalog