mixin product-item(img, title, city, price, checkbox)
	+b.product-item
		+e.row.row
			.col-lg-auto
				+e.img-wrap(href="#")
					.img-wrap-center
						+img(`img/${img}`)
			.col 
				.h4
					a(href="#")!= title
				+e.inner-row.row
					.col-lg
						+e.provider
							| Поставщик: 
							| 
							a(href="#")  ООО “Адидас”
						+e.works Работает по условиям 44ФЗ и 223 ФЗ
						+e.shipment 
							| Отгрузка товара:
							| 
							span!= city
						if checkbox
							+e.checkbox
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="price" type="radio")
									span.custom-input__text.custom-input__text--opt.form-check-label Опт: 
										span 9 990 ₽
								+in-c('radio', 'Розница: 10 000 ₽', 'price')
					.col-lg-auto
						+e.wrap.row
							.col-12.col-lg-auto.me-auto
								+e.price
									| Опт: 
									span.num!= price
									span.delivery + доставка
							.col-auto
								+addblock()
							.col-auto
								+e.btn(href='#').btn.btn-primary.btn-base 
									+icon('cart')
									| В корзину
	// /.product-item

mixin sCatalog(isSecondVariant, isThirdVariant)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		if isThirdVariant
			+e.find-row.row
				.col-lg-auto.order-lg-last
					+ddGroup
						+ddGroupItem('Все категории')
							ul
								li
									a(href="#") Все категории
								li
									a(href="#") Товары (опт)
								li
									a(href="#") Услуги (опт)
								li
									a(href="#") Частным лицам (розница)
				.col-lg
					p Найдено 30 результатов по запросу “Стол”
		if isSecondVariant
			+e.nothing По вашему запросу ничего не найдено, пожалуйста скорректируйте запрос.
		else
			+e.inner-row.row
				.col-12
					+product-item('prod-img-1.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Ростов-на-Дону', '99 990 ₽')
				.col-12
					+product-item('prod-img-2.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Москва', '990 ₽')
				.col-12
					+product-item('prod-img-3.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Москва', '9 990 ₽')
				.col-12
					+product-item('prod-img-1.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Ростов-на-Дону', '99 990 ₽')
				.col-12
					+product-item('prod-img-2.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Москва', '990 ₽')
				.col-12
					+product-item('prod-img-3.png', 'Стол детский регулируемый (0-3 гр, 700х700х400-580 мм, ЛДСП, м/к, цвет по согласованию)', 'Москва', '9 990 ₽')
				.col-12
					+pugin
	// end sCatalog