mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto.d-flex
					+e.logo(href="#")
						+img('img/logo.png')
				.col-auto.d-flex
					+e.link(href='#')
						+icon('search')
						span.d-none.d-xl-block поиск
				.col-auto.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
				.col-auto.d-flex
					+e.link(href='#')
						+icon('tel')
						span.d-none.d-xl-block задать вопрос
				.col-auto.d-flex
					+e.link(href='#')
						+icon('login')
						span.d-none.d-xl-block войти
				.col-auto.d-flex
					+e.link.active(href='#')
						+e.icon-wrap
							+icon('cart')
						span.d-none.d-xl-block корзина
				.col-auto.d-flex.d-lg-none
					+menu-toggle()
	// end top-nav