 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$body-color});
	border: 1px solid $gray-300;
	border-radius: 5px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		// color: inherit;
		text-align: center;
		border: none;
		height: rem(40);
		border-right: 1px solid $gray-300;
		border-left: 1px solid $gray-300;
		width: 100%;
		outline: none;
		border-radius: 0;
	}
	&__btn{
		@include mt;
		color: var(--color, #{$body-color});
		height: rem(40);
		position: relative;
		border-radius: 0px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		flex: 0 0 auto;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(40);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
		&:hover, &.active {
			background-color: #{$primary} !important;
			--color: #fff;
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 16px;
		width: 100%;
		// border: none !important;
		outline: none !important;
		padding-left: rem(20);
		padding-top: rem(10.5);
		padding-bottom: rem(10.5);
		padding-right: rem(20);
		border-radius: 5px;
		margin-bottom: rem(15);
		border: 1px solid $gray-300;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			padding-right: rem(113);
		}
	}
	.icon{
		font-size: rem(20);
		border: none !important;
		margin-right: rem(10);
	}
	button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		// background: none !important;
		// border: none !important;

		--bs-btn-padding-x: #{rem(20)};
    --bs-btn-padding-y: #{rem(12)};
		--bs-btn-font-size: #{rem(16)};
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.25;
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;

		@include media-breakpoint-up(sm) {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: auto;
		}
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
	&:not(:first-child) {
		padding-left: rem(5);
	}
	a {
		&:not(:hover) {
			color: $gray-600;
		}
	}
	&:before {
		--bs-breadcrumb-item-padding-x: 0;
		width: rem(20);
		height: rem(20);
		margin-right: rem(5);
	}
	&.active {
		a {
			color: $body-color;
		}
	}
}

.btn-base {
	--bs-btn-padding-x: #{rem(32)};
	--bs-btn-padding-y: #{rem(11)};
	--bs-btn-font-size: #{rem(14)};
	--bs-btn-font-weight: 700;
	--bs-btn-line-height: 1.4;
	--bs-btn-border-width: 0;

	--bs-btn-color: #078922;
	--bs-btn-bg: #05a14f;
	--bs-btn-border-color: transparent;

	@include mt;
	background-image: linear-gradient(180deg, #C8E68E 0%, #05A950 100%);
	border-radius: 60px;
	text-transform: uppercase;
	box-shadow: 0 3px 0px 0px #0e8733 !important;
	&:hover {
		box-shadow: none !important;
		transform: translateY(3px);
	}
}

.gallery-item {
	position: relative;
	overflow: hidden;
	&:hover {
		.gallery-item {
			&__btn-wrap {
				max-height: 100%;
				.btn {
					transform: translateY(0);
				}
			}
			&__full-size {
				opacity: 1;
				pointer-events: all;
			}
			&__img-wrap {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	&__img-wrap {
		@include block(367, 276);
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		display: block;
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
		}
		img {
			@include mt;
		}
	}
	&__content {
		@include a-cent();
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		padding: rem(20);
		.h4 {
			color: #fff;
			line-height: 1.4em;
			font-size: rem(16);
			margin-bottom: 0;
			// @include media-breakpoint-up(sm) {
			// 	font-size: rem(18);
			// }
			@include media-breakpoint-up(xxl) {
				font-size: rem(18);
			}
		}
	}
	&__btn-wrap {
		@include mt;
		@include media-breakpoint-up(md) {
			max-height: 0;
		}
		.btn {
			transform: translateY(0);
			margin-top: rem(10);
			@include media-breakpoint-up(md) {
				transform: translateY(120px);
			}
		}
	}
	&__full-size {
		@include mt;
		position: absolute;
		padding: rem(7);
		border-radius: 5px;
		background-color: rgba($color: $body-color, $alpha: .5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		top: rem(20);
		right: rem(20);
		cursor: pointer;
		@include media-breakpoint-up(md) {
			opacity: 0;
			pointer-events: none;
		}
		.icon {
			font-size: rem(21);
			color: #fff;
		}
	}
}

.btn-base-secondary {
	--bs-btn-padding-x: #{rem(20)};
	--bs-btn-padding-y: #{rem(9)};
	--bs-btn-font-size: #{rem(16)};
	--bs-btn-color: #{$gray-900};
	--bs-btn-line-height: 1.25;
	--bs-btn-border-color: #{$gray-300};
	--bs-btn-border-radius: 5px;
	
	--bs-btn-hover-bg: #{$primary};
	--bs-btn-hover-border-color: #{$primary};
	--bs-btn-hover-color: #fff;
	--bs-btn-active-bg: #{$primary};
	--bs-btn-active-border-color: #{$primary};
	--bs-btn-active-color: #fff;
	&:hover{
		.icon {
			color: #fff;
		}
	}
	.icon {
		@include mt;
		color: $primary;
		fill: none;
    stroke: currentColor;
    stroke-width: 1.7px;
		font-size: rem(20);
	}
}

.news-item {
	@include mt;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	&:hover {
		box-shadow: -1px 4px 20px 2px #cecece61;
	}
	&__img-wrap {
		@include block(368, 240);
		border-radius: 10px 10px 0px 0px;
		overflow: hidden;
		img {
			@include mt;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__breadcrumbs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: rem(10);
	}
	&__item {
		font-size: rem(14);
		line-height: 1.4em;
		color: $gray-600;
		position: relative;
		padding-right: rem(30);
		&:hover {
			color: $body-color;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
			width: rem(20);
			height: rem(20);
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 7L11 10L8 13' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&.active {
			padding-right: 0;
			color: $body-color;
			&:after {
				content: unset;
			}
		}
	}
	&__content {
		padding: rem(13);
		background-color: #FFFFFF;
		border: 1px solid $gray-100;
		border-top: none;
		border-radius: 0 0 10px 10px;
		flex-grow: 1;
		display: flex;
    flex-direction: column;
    align-items: flex-start;
		@include media-breakpoint-up(md) {
			padding: rem(20);
		}
	}
	.h4 {
		display: block;
		line-height: 1.4em;
		margin-bottom: rem(10);
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}
		&:hover {
			color: $primary;
		}
	}
	&__date {
		font-size: rem(16);
		line-height: 1.25em;
		color: $gray-600;
		margin-bottom: rem(15);
	}
	&__btn {
		--bs-btn-padding-x: #{rem(14)};

		margin-top: auto;
	}
	&--horizontal {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: row;
			.news-item {
				&__img-wrap {
					flex: 0 0 auto;
					--ratio: 260/367;
					width: 100%;
					max-width: rem(367);
					border-radius: 10px 0 0 10px;
				}
				&__content {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					border-radius: 0 10px 10px 0;
					flex-grow: 1;
				}
				&__btn {
					margin-top: auto;
				}
			}
		}
		.news-item {
			&__content {
				p {
					display: none;
					@include media-breakpoint-up(sm) {
						display: block;
					}
				}
			}
		}
		@include media-breakpoint-up(lg) {
			.news-item__img-wrap {
				max-width: rem(255);
			}
		}
		@include media-breakpoint-up(xl) {
			.news-item__img-wrap {
				max-width: rem(367);
			}
		}
	}
}

.page-head {
	margin-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(31.600);
	}
	.container {
		--bs-gutter-x: 0;
	}
	.breadcrumb {
		margin-bottom: rem(15);
		flex-wrap: nowrap;
	}
	h1 {
		margin-bottom: 0;
	}
}

.filter {
	& > .dd-group {
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid $gray-100;
		& > .dd-group__item {
			color: $body-color;
			// text-transform: uppercase;
			&:not(:last-child) {
				& > .dd-group__head {
					border-bottom: 1px solid $gray-100;
				}
				& > .dd-group__content {
					border-bottom: 1px solid $gray-100;
				}
			}
			&.page-active {
				& > .dd-group__head {
					font-weight: 700;
					&:before {
						background-color: $primary;
					}
				}
			}
			&.active {
				& > .dd-group__head {
					font-weight: 700;
					// &:before {
					// 	background-color: $primary;
					// }
					.icon {
						color: $primary;
						transform: rotate(-180deg);
					}
				}
			}
			& > .dd-group__head {
				padding: rem(16) rem(20);
				// border-bottom: 1px solid $gray-100;
				// cursor: pointer;
				position: relative;
				text-transform: uppercase;
				&:before {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					width: rem(3);
					height: rem(20);
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					border-radius: 0px 5px 5px 0px;
					background-color: transparent;
				}
			}
			& > .dd-group__content {
				padding: rem(16) rem(20);
				// border-bottom: 1px solid $gray-100;
				.dd-group__item {
					padding-left: rem(30);
					&.page-active {
						& > .dd-group__head {
							&:before {
								border-color: $primary;
								background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
								background-position: center;
								background-repeat: no-repeat;
								background-size: 10px;
							}
						}
					}
					&.active {
						& > .dd-group__head {
							// &:before {
							// 	border-color: $primary;
							// 	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
							// 	background-position: center;
							// 	background-repeat: no-repeat;
							// 	background-size: 10px;
							// }
							.icon {
								color: $primary;
								transform: rotate(-180deg);
							}
						}
					}
				}
				& > .dd-group__item {
					& > .dd-group__head {
						text-transform: uppercase;
					}
				}
				.dd-group__head {
					// padding-right: rem(20);
					&:before {
						content: '';
						position: absolute;
						display: block;
						// width: rem(20);
						// height: rem(20);
						width: 20px;
						height: 20px;
						border: 1px solid $gray-300;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: rem(-30);
					}
				}
			}
		}
	}
	.dd-group {
		@include media-breakpoint-up(xxl) {
			max-width: rem(330);
		}
		&__link {
			display: block;
			padding: rem(16) rem(20);
			color: $body-color;
			text-transform: none;
		}
		&__item {
		}
		&__head {
			display: flex;
			align-items: center;
			position: relative;
			// cursor: pointer;
			a {
				color: $body-color;
				margin-right: auto;
				&:hover {
					color: $primary;
				}
			}
			.icon {
				@include mt;
				cursor: pointer;
				flex: 0 0 auto;
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
				font-size: rem(20);
				color: #ADACAC;
			}
		}
		&__content {
			display: none;
			&.active {
				display: block;
			}
		}
		&__adress {
			position: relative;
			padding-left: rem(30);
			color: $body-color;
			display: block;
			&:hover {
				color: $primary;
			}
			span {
				position: absolute;
				left: 0;
				top: rem(2);
				display: block;
				// width: rem(20);
				// height: rem(20);
				width: 20px;
				height: 20px;
				background-color: #fff;
				border: 1px solid $gray-300;
				border-radius: 50%;
			}
			&.page-active {
				span {
					background-color: #fff;
					border-color: $primary;
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 10px;
				}
			}
		}
	}
}

.pagination-wrapper {
	ul {
		border-radius: 5px;
	}
	.page-numbers {
		--bs-pagination-padding-y: #{rem(5.920)};
		--bs-pagination-padding-x: #{rem(9.760)};
		--bs-pagination-color: #{$body-color};
		--bs-pagination-border-color: #{$gray-100};
		font-size: rem(14);
		line-height: 1.25em;
		@include media-breakpoint-up(sm) {
			--bs-pagination-padding-y: #{rem(9.120)};
			--bs-pagination-padding-x: #{rem(14.560)};
			font-size: rem(16);
		}
		&.skip {
			pointer-events: none;
		}
		&.next, &.prev {
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}
		.icon {
			color: $primary;
			font-size: rem(20);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
}

.innerFilter {
	@include media-breakpoint-up(lg) {
		max-width: rem(338);
	}
	.dd-group {
		background-color: #FFFFFF;
		border: 1px solid $gray-100;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		&__item {
			&.active {
				& > .dd-group__head {
					&:after {
						transform: translateY(-50%) rotate(-180deg);
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%2305a14f' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
					span {
						&.show {
							display: none;
						}
						&.hide {
							display: block;
						}
					}
				}
			}
		}
		&__head {
			position: relative;
			cursor: pointer;
			padding: rem(15) rem(35) rem(15) rem(50);
			background-color: #fff;
			@include media-breakpoint-up(lg) {
				display: none;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				display: block;
				width: rem(20);
				height: rem(20);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				top: 50%;
				transform: translateY(-50%);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.12891 4.24098L2.01172 4.3018L1.89949 4.40676L1.78727 4.51172L1.73348 4.63742L1.67969 4.76312V5.0007V5.23824L1.74285 5.36328L1.80602 5.48828L1.88934 5.57996L1.97266 5.67168L2.11758 5.74598L2.2625 5.82031H10H17.7375L17.8824 5.74598L18.0273 5.67168L18.1107 5.57996L18.194 5.48828L18.2571 5.36328L18.3203 5.23824V5V4.76176L18.2573 4.63672L18.1942 4.51172L18.0912 4.40109L17.9883 4.29047L17.8566 4.23508L17.7248 4.17969L9.98547 4.17992L2.24609 4.18016L2.12891 4.24098ZM4.62891 9.24098L4.51172 9.3018L4.39949 9.40676L4.28727 9.51172L4.23348 9.63742L4.17969 9.76313V10.0007V10.2382L4.24285 10.3633L4.30602 10.4883L4.38934 10.58L4.47266 10.6717L4.61758 10.746L4.7625 10.8203H10H15.2375L15.3824 10.746L15.5273 10.6717L15.6107 10.58L15.694 10.4883L15.7571 10.3633L15.8203 10.2382V10V9.76176L15.7573 9.63672L15.6942 9.51172L15.5912 9.40109L15.4883 9.29047L15.3566 9.23508L15.2248 9.17969L9.98547 9.17992L4.74609 9.18016L4.62891 9.24098ZM7.12891 14.241L7.01172 14.3018L6.89949 14.4068L6.78727 14.5117L6.73348 14.6374L6.67969 14.7631V15.0007V15.2382L6.74285 15.3633L6.80602 15.4883L6.88934 15.58L6.97266 15.6717L7.11758 15.746L7.2625 15.8203H10H12.7375L12.8824 15.746L13.0273 15.6717L13.1107 15.58L13.194 15.4883L13.2571 15.3633L13.3203 15.2382V15V14.7618L13.2573 14.6367L13.1942 14.5117L13.0912 14.4011L12.9883 14.2905L12.8566 14.2351L12.7248 14.1797L9.98547 14.1799L7.24609 14.1802L7.12891 14.241Z' fill='%2305A14F'/%3E%3C/svg%3E%0A");
				left: rem(20);
			}
			&:after {
				@include mt;
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				right: rem(15);
			}
			span {
				&.hide {
					display: none;
				}
			}
		}
		&__content {
			display: none;
			@include media-breakpoint-up(lg) {
				display: block;
			}
			&.active {
				display: block;
			}
			.dd-group__head {
				text-transform: uppercase;
				padding-left: rem(18);
				border-top: 1px solid $gray-100;
				@include media-breakpoint-up(lg) {
					display: block;
				}
				&:before {
					content: unset;
				}
			}
			.dd-group__link:first-child {
				@include media-breakpoint-up(lg) {
					border-top: 1px solid $gray-100;
				}
			}
		}
		&__link {
			position: relative;
			display: block;
			padding: rem(18);
			text-transform: uppercase;
			color: $body-color;
			@include media-breakpoint-down(lg) {
				padding-left: rem(50);
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: rem(20);
					height: rem(20);
					border-radius: 50%;
					left: rem(18);
					top: rem(21);
					border: 1px solid $gray-300;
				}
			}
			@include media-breakpoint-up(lg) {
				&:before {
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 3px;
					height: rem(40);
					background-color: transparent;
					border-radius: 0px 5px 5px 0px;
				}
			}
			&:hover {
				color: $primary;
			}
			&.active {
				@include media-breakpoint-down(lg) {
					&::before {
						border-color: $primary;
						background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
						background-position: center;
						background-repeat: no-repeat;
						background-size: 10px;
					}
				}
				@include media-breakpoint-up(lg) {
					font-weight: 700;
					&::before {
						background-color: $primary;
					}
				}
			}
			@include media-breakpoint-down(lg) {
				border-top: 1px solid $gray-100;
			}
			@include media-breakpoint-up(lg) {
				&:not(:first-child) {
					border-top: 1px solid $gray-100;
				}
			}
		}
	}
}

.message {
	@include mt;
	position: fixed;
	padding: rem(12) rem(50) rem(12) rem(20);
	border-radius: 0px 5px 5px 0px;
	background-color: $gray-200;
	bottom: rem(30);
	width: calc(100% - rem(40));
	right: rem(20);
	z-index: 1;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	&:before {
		content: '';
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		height: 100%;
		width: 3px;
		background-color: $primary;
		border-radius: 0px 5px 5px 0px;
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgba($color: $primary, $alpha: .1);
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
	@include media-breakpoint-up(md) {
		right: rem(60);
		width: auto;
	}
	span {
		position: absolute;
		width: rem(20);
		height: rem(20);
		top: 50%;
		right: rem(20);
		transform: translateY(-50%);
		cursor: pointer;
		&::before, &:after {
			content: '';
			position: absolute;
			display: block;
			width: rem(20);
			height: 2px;
			background-color: #ADACAC;
			@include a-cent;
			@include mt;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
		&:hover {
			&::before, &:after {
				background-color: $body-color;
			}
		}
	}
}

.custom-input {
	&__input {
		&:focus {
			box-shadow: none;
		}
	}
}

.breadcrumb-slider {
	@include media-breakpoint-down(lg) {
		overflow: visible;
	}
}

.tags-wrap {
	@include media-breakpoint-down(lg) {
		margin-bottom: rem(40);
	}
	h5 {
		margin-bottom: rem(20);
		line-height: 1.25em;
	}
	&__tags-row {
		--bs-gutter-x: #{rem(5)};
		--bs-gutter-y: #{rem(5)};
	}
	&__tag {
		display: block;
		background-color: #FFFFFF;
		border: 1px solid #F1F0F0;
		border-radius: 5px;
		padding: rem(3.5) rem(9.5);
		font-size: rem(14);
		&:not(:hover) {
			color: $body-color;
		}
	}
}

.main-content-wrapper {
	padding-top: rem(30);
	padding-bottom: rem(30);
	@include media-breakpoint-up(lg) {
		padding-bottom: rem(100);
	}
	&__row {
		--bs-gutter-y: #{rem(20)};
	}
	&__inner-row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(10)};
		img {
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}
	.innerFilter {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}
	.filter {
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(20);
		}
	}
}

.components {
	margin-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(30);
	}
	&__row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};

		// margin-top: rem(18.800);
		align-items: center;
	}
	&__btn {
		--bs-btn-padding-x: #{rem(20)};
		--bs-btn-color: #{$body-color};
    --bs-btn-border-color: #{$gray-300};
		--bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #{$primary};
		--bs-btn-active-color: #{$primary};
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{$primary};

		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(sm) {
			justify-content: flex-start;
		}
		svg {
			flex: 0 0 auto;
			margin-right: rem(16);
			font-size: rem(20);

			fill: currentColor;
			// stroke: currentColor;
			display: inline-block;
			height: 1em;
			width: 1em;
			path[fill] {
				fill: currentColor !important;
			}
		}
		&.active {
			--bs-btn-font-weight: 700;
		}
	}
	&__download {
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $body-color;
		}
		img {
			flex: 0 0 auto;
			margin-right: rem(5);
		}
	}
	&__choseCity {
		@include mt;
		padding: rem(9.5) rem(20);
		border: 1px solid $gray-300;
		border-radius: 5px;
		display: flex;
		align-items: center;
		height: 100%;
		cursor: pointer;
		width: 100%;
		justify-content: center;
		@include media-breakpoint-up(xxl) {
			width: auto;
			justify-content: flex-start;
		}
		.icon {
			@include mt;
			flex: 0 0 auto;
			font-size: rem(20);
			color: $primary;
			margin-right: rem(10);
		}
		&:hover {
			border-color: $primary;
			background-color: $primary;
			color: #fff;
			.icon {
				color: #fff;
			}
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		span {
			font-size: rem(16);
			margin-left: rem(10);
			margin-right: rem(10);
		}
	}
	&__filter-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(15)};
	}
	&__filter {
		margin-bottom: rem(20);
		background-color: #fff;
		border: 1px solid $gray-100;
		border-radius: 10px;
		padding: rem(20);
		@include media-breakpoint-up(md) {
			padding: rem(30);
			margin-bottom: rem(30);
		}
		.search-block {
			input {
				&:focus {
					border-color: $primary;
				}
			}
		}
		.addBlock{
			color: var(--color, #{$gray-600});
			border: none;
			// border-radius: 5px;
			display: flex;
			position: relative;
			overflow: hidden;
			flex-grow: 1;
			@include media-breakpoint-up(lg) {
				max-width: rem(205);
			}
			input{
				// color: inherit;
				text-align: left;
				border: 1px solid $gray-300;
				border-radius: 5px;
				height: rem(45);
				padding-right: rem(25);
				padding-left: rem(20);
				width: 100%;
			}
			&__btn{
				color: inherit;
				height: rem(20);
				position: absolute;
				right: 5px;
				border-radius: 5px;
				background: none !important;
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				background: #fff;
				// padding-left: rem(8);
				// padding-right: rem(8);
				width: rem(20);
				
				&:hover {
					&.addBlock__btn--plus::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.5L10.5 8.5L13.5 11.5' stroke='%2305a14f' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
					&.addBlock__btn--minus::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5L10.5 11.5L13.5 8.5' stroke='%2305a14f' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
				}
				&::after{
					@include mt;
					content: '';
					width: 20px;
					height: 20px; 
					background-color: #fff;
					position: absolute;
					// right: 0;
					@include a-cent;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
				&--plus {
					top: 5px;
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.5L10.5 8.5L13.5 11.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						transform: rotate(0);
					}
				}
				&--minus {
					bottom: 5px;
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5L10.5 11.5L13.5 8.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}
	}
	&__reset {
		display: flex;
    height: 100%;
    align-items: center;
		line-height: 1em;
		&:not(:hover) {
			color: $gray-600;
		}
		span {
			flex: 0 0 auto;
			margin-left: rem(5);
			width: rem(16);
			height: rem(16);
			position: relative;
			margin-top: 2px;
			&::before, &::after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 2px;
				background-color: #ADACAC;
				@include a-cent;
			}
			&::before {
				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
	}
	&__caption-row {
		--bs-gutter-y: #{rem(20)};

		align-items: center;

		// padding-top: rem(20);
		max-width: rem(1162);
	}
	&__caption {
		line-height: 1.35em;
	}
}

.subcription {
	margin-bottom: rem(20);
	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
	}
	&__text {
		display: flex;
		align-items: center;
		line-height: 1.25em;
		margin-bottom: rem(5);
		.icon {
			flex: 0 0 auto;
			margin-right: rem(10);
			font-size: rem(20);
			color: $primary;
		}
	}
	&__search-wrap {
		.search-block {
			input {
				padding: rem(9.5) rem(45) rem(9.5) rem(20);
				@include media-breakpoint-down(sm) {
					margin-bottom: 0;
				}
				@include media-breakpoint-up(xxl) {
					min-width: rem(378);
				}
			}
			button {
				--bs-btn-padding-x: #{rem(11.5)};
				@include media-breakpoint-down(sm) {
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					width: auto;
				}
			}
			.icon {
				font-size: rem(20);
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
				margin-right: 0;
			}
		}
	}
}