 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$body-color});
	border: 1px solid $gray-300;
	border-radius: 5px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(40);
		border-right: 1px solid $gray-300;
		border-left: 1px solid $gray-300;
		width: 100%;
	}
	&__btn{
		@include mt;
		color: inherit;
		height: rem(40);
		position: relative;
		border-radius: 0px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		flex: 0 0 auto;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(40);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
		&:hover {
			color: #{$primary};
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 16px;
		width: 100%;
		// border: none !important;
		outline: none !important;
		padding-left: rem(20);
		padding-top: rem(10.5);
		padding-bottom: rem(10.5);
		padding-right: rem(20);
		border-radius: 5px;
		margin-bottom: rem(15);
		border: 1px solid $gray-300;
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			padding-right: rem(113);
		}
	}
	.icon{
		font-size: rem(20);
		border: none !important;
		margin-right: rem(10);
	}
	button{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		// background: none !important;
		// border: none !important;

		--bs-btn-padding-x: #{rem(20)};
    --bs-btn-padding-y: #{rem(12)};
		--bs-btn-font-size: #{rem(16)};
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.25;
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;

		@include media-breakpoint-up(sm) {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: auto;
		}
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
	&:not(:first-child) {
		padding-left: rem(5);
	}
	a {
		&:not(:hover) {
			color: $gray-600;
		}
	}
	&:before {
		--bs-breadcrumb-item-padding-x: 0;
		width: rem(20);
		height: rem(20);
		margin-right: rem(5);
	}
	&.active {
		a {
			color: $body-color;
		}
	}
}

.btn-base {
	--bs-btn-padding-x: #{rem(32)};
	--bs-btn-padding-y: #{rem(11)};
	--bs-btn-font-size: #{rem(14)};
	--bs-btn-font-weight: 700;
	--bs-btn-line-height: 1.4;
	--bs-btn-border-width: 0;

	--bs-btn-color: #078922;
	--bs-btn-bg: #05a14f;
	--bs-btn-border-color: transparent;

	@include mt;
	background-image: linear-gradient(180deg, #C8E68E 0%, #05A950 100%);
	border-radius: 60px;
	text-transform: uppercase;
	box-shadow: 0 3px 0px 0px #0e8733 !important;
	&:hover {
		box-shadow: none !important;
		transform: translateY(3px);
	}
}

.gallery-item {
	position: relative;
	overflow: hidden;
	&:hover {
		.gallery-item {
			&__btn-wrap {
				max-height: 100%;
				a {
					transform: translateY(0);
				}
			}
			&__full-size {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	&__img-wrap {
		@include block(367, 276);
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		display: block;
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
		}
	}
	&__content {
		@include a-cent();
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		padding: rem(20);
		.h4 {
			color: #fff;
			line-height: 1.4em;
			font-size: rem(16);
			margin-bottom: 0;
			@include media-breakpoint-up(sm) {
				font-size: rem(18);
			}
		}
	}
	&__btn-wrap {
		@include mt;
		max-height: 0;
		a {
			transform: translateY(120px);
		}
	}
	&__full-size {
		@include mt;
		position: absolute;
		padding: rem(7);
		border-radius: 5px;
		background-color: rgba($color: $body-color, $alpha: .5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		top: rem(20);
		right: rem(20);
		opacity: 0;
		pointer-events: none;
		cursor: pointer;
		.icon {
			font-size: rem(21);
			color: #fff;
		}
	}
}

.btn-base-secondary {
	--bs-btn-padding-x: #{rem(20)};
	--bs-btn-padding-y: #{rem(9)};
	--bs-btn-font-size: #{rem(16)};
	--bs-btn-color: #{$gray-900};
	--bs-btn-line-height: 1.25;
	--bs-btn-border-color: #{$gray-300};
	--bs-btn-border-radius: 5px;

	.icon {
		color: $primary;
		fill: none;
    stroke: currentColor;
    stroke-width: 1.7px;
		font-size: rem(20);
	}
}

.news-item {
	&__img-wrap {
		@include block(368, 240);
		border-radius: 10px 10px 0px 0px;
		overflow: hidden;
	}
	&__breadcrumbs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: rem(10);
	}
	&__item {
		font-size: rem(14);
		line-height: 1.4em;
		color: $gray-600;
		position: relative;
		padding-right: rem(30);
		&:hover {
			color: $body-color;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
			width: rem(20);
			height: rem(20);
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 7L11 10L8 13' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&.active {
			padding-right: 0;
			color: $body-color;
			&:after {
				content: unset;
			}
		}
	}
	&__content {
		padding: rem(13);
		background-color: #FFFFFF;
		border: 1px solid $gray-100;
		border-top: none;
		border-radius: 0 0 10px 10px;
		@include media-breakpoint-up(md) {
			padding: rem(20);
		}
	}
	.h4 {
		display: block;
		line-height: 1.4em;
		margin-bottom: rem(10);
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}
	}
	&__date {
		font-size: rem(16);
		line-height: 1.25em;
		color: $gray-600;
		margin-bottom: rem(15);
	}
	&__btn {
		--bs-btn-padding-x: #{rem(14)};
	}
}

.page-head {
	padding-bottom: rem(31.600);
	.breadcrumb {
		margin-bottom: rem(15);
		flex-wrap: nowrap;
	}
	h1 {
		margin-bottom: 0;
	}
	&__row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};

		margin-top: rem(18.800);
		align-items: center;
	}
	&__btn {
		--bs-btn-padding-x: #{rem(20)};
		--bs-btn-color: #{$body-color};
    --bs-btn-border-color: #{$gray-300};
		--bs-btn-hover-color: #{$primary};
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #{$primary};
		--bs-btn-active-color: #{$primary};
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{$primary};

		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(sm) {
			justify-content: flex-start;
		}
		.icon {
			flex: 0 0 auto;
			margin-right: rem(10);
			font-size: rem(20);
		}
		&.active {
			--bs-btn-font-weight: 700;
		}
	}
	&__download {
		display: flex;
		align-items: center;
		&:not(:hover) {
			color: $body-color;
		}
		img {
			flex: 0 0 auto;
			margin-right: rem(5);
		}
	}
	&__choseCity {
		@include mt;
		padding: rem(9.5) rem(20);
		border: 1px solid $gray-300;
		border-radius: 5px;
		display: flex;
		align-items: center;
		height: 100%;
		cursor: pointer;
		width: 100%;
		justify-content: center;
		@include media-breakpoint-up(xxl) {
			width: auto;
			justify-content: flex-start;
		}
		.icon {
			@include mt;
			flex: 0 0 auto;
			font-size: rem(20);
			color: $primary;
			margin-right: rem(10);
		}
		&:hover {
			border-color: $primary;
			background-color: $primary;
			color: #fff;
			.icon {
				color: #fff;
			}
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		span {
			font-size: rem(16);
			margin-left: rem(10);
			margin-right: rem(10);
		}
	}
	&__settings-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(15)};
	}
	&__settings {
		margin-top: rem(20);
		background-color: #fff;
		border: 1px solid $gray-100;
		border-radius: 10px;
		padding: rem(20);
		@include media-breakpoint-up(md) {
			padding: rem(30);
			margin-top: rem(30);
		}
		.addBlock{
			color: var(--color, #{$gray-600});
			border: 1px solid $gray-300;
			border-radius: 5px;
			display: flex;
			position: relative;
			overflow: hidden;
			input{
				color: inherit;
				text-align: center;
				border: none;
				height: rem(45);
				padding-right: rem(25);
				width: 100%;
			}
			&__btn{
				color: inherit;
				height: rem(20);
				position: absolute;
				right: 5px;
				border-radius: 5px;
				background: none !important;
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
				background: #fff;
				// padding-left: rem(8);
				// padding-right: rem(8);
				width: rem(20);
				
				&:hover {
					&.addBlock__btn--plus::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.5L10.5 8.5L13.5 11.5' stroke='%2305a14f' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
					&.addBlock__btn--minus::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5L10.5 11.5L13.5 8.5' stroke='%2305a14f' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
				}
				&::after{
					@include mt;
					content: '';
					width: 20px;
					height: 20px; 
					background-color: #fff;
					position: absolute;
					// right: 0;
					@include a-cent;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
				&--plus {
					top: 5px;
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.5L10.5 8.5L13.5 11.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						transform: rotate(0);
					}
				}
				&--minus {
					bottom: 5px;
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5L10.5 11.5L13.5 8.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}
	}
	&__caption-row {
		--bs-gutter-y: #{rem(20)};

		align-items: center;

		padding-top: rem(20);
		max-width: rem(1162);
	}
	&__caption {
		line-height: 1.35em;
	}
}

.filter {
	& > .dd-group {
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid $gray-100;
		& > .dd-group__item {
			color: $body-color;
			text-transform: uppercase;
			&.active {
				& > .dd-group__head {
					font-weight: 700;
					&:after {
						transform: translateY(-50%) rotate(-180deg);
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%2305A14F' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}
					&:before {
						background-color: $primary;
					}
				}
			}
			& > .dd-group__head {
				padding: rem(16) rem(20);
				border-bottom: 1px solid $gray-100;
				cursor: pointer;
				position: relative;
				// text-transform: uppercase;
				&:before {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					width: rem(3);
					height: rem(20);
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					border-radius: 0px 5px 5px 0px;
					background-color: transparent;
				}
				&:after {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					width: rem(20);
					height: rem(20);
					top: 50%;
					transform: translateY(-50%);
					right: rem(20);
				}
			}
			& > .dd-group__content {
				padding: rem(16) rem(20);
				border-bottom: 1px solid $gray-100;
				.dd-group__item {
					padding-left: rem(30);
					&.active {
						& > .dd-group__head {
							&:before {
								border-color: $primary;
								background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
								background-position: center;
								background-repeat: no-repeat;
								background-size: 10px;
							}
							&:after {
								transform: translateY(-50%) rotate(-180deg);
								background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%2305A14F' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
							}
						}
					}
				}
				.dd-group__head {
					padding-right: rem(20);
					&:before {
						content: '';
						position: absolute;
						display: block;
						width: rem(20);
						height: rem(20);
						border: 1px solid $gray-300;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: rem(-30);
					}
					&:after {
						@include mt;
						content: '';
						position: absolute;
						display: block;
						background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.5L9.5 11.5L6.5 8.5' stroke='%23ADACAC' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						width: rem(20);
						height: rem(20);
						top: 50%;
						transform: translateY(-50%);
						right: 0;
					}
				}
			}
		}
	}
	.dd-group {
		@include media-breakpoint-up(xxl) {
			max-width: rem(330);
		}
		&__link {
			display: block;
			padding: rem(16) rem(20);
			color: $body-color;
			text-transform: none;
		}
		&__item {
		}
		&__head {
			position: relative;
			cursor: pointer;
		}
		&__content {
			display: none;
			&.active {
				display: block;
			}
		}
		.custom-input {
			padding-left: rem(30);
			&__input {
				margin-left: rem(-30);
				width: rem(20);
				height: rem(20);
				background-color: #fff;
				border-color: $gray-300;
				margin-top: 2px;
				border-radius: 50%;
				&:checked {
					background-color: #fff;
					border-color: $primary;
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%2305A14F'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 10px;
				}
			}
		}
	}
}

.pagination-wrapper {
	ul {
		border-radius: 5px;
	}
	.page-numbers {
		--bs-pagination-padding-y: #{rem(5.920)};
		--bs-pagination-padding-x: #{rem(9.760)};
		--bs-pagination-color: #{$body-color};
		--bs-pagination-border-color: #{$gray-100};
		font-size: rem(14);
		line-height: 1.25em;
		@include media-breakpoint-up(sm) {
			--bs-pagination-padding-y: #{rem(9.120)};
			--bs-pagination-padding-x: #{rem(14.560)};
			font-size: rem(16);
		}
		&.skip {
			pointer-events: none;
		}
		&.next, &.prev {
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}
		.icon {
			color: $primary;
			font-size: rem(20);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
}