mixin sForSuppliers(data)
	// start sForSuppliers
	+b.SECTION.sForSuppliers.section#sForSuppliers&attributes(attributes)
		.container
			+e.wrap
				+e.row.row
					.col-auto.order-xl-last
						+e.img-row.row
							.col
								+img('img/sForSuppliers-img-1.jpg')
							.col
								+img('img/sForSuppliers-img-2.jpg')
							.col
								+img('img/sForSuppliers-img-3.jpg')
					.col
						h2 Для поставщиков
						p &laquo;РОССКЛАСС&raquo; является одним из&nbsp;крупнейших дистрибьюторов на&nbsp;Сахалине и&nbsp;в&nbsp;Дальневосточном Федеральном округе, занимается комплексным оснащением детских образовательных учреждений, школ и&nbsp;государственных предприятий. Мы&nbsp;всегда готовы предложить нашим клиентам большой.
						a(href='#').btn.btn-primary.btn-base подробнее
	// end sForSuppliers