mixin sNewsBlock(data)
	// start sNewsBlock
	+b.SECTION.sNewsBlock.section#sNewsBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg-4.col-xxl-3.d-none.d-lg-block
					+filter2('true')
					mixin tags()
						+e.tags-wrap&attributes(attributes)
							h5 Тэги
							+e.tags-row.row
								.col-auto
									+e.tag(href='#') Школа
								.col-auto
									+e.tag(href='#') Amazon
								.col-auto
									+e.tag(href='#') Выставка
								.col-auto
									+e.tag(href='#') Amazon
								.col-auto
									+e.tag(href='#') Выставка
					+tags().d-none.d-lg-block
				.col-lg-8.col-xxl-9
					+b.page-head
						+e.inner-row.row
							.col-lg
								+breadcrumb('Главная', 'Новости и обзоры')
								h1 Новости и обзоры
							.col-12.d-block.d-lg-none
								+filter2('true')
							.col-lg-auto
								+e.text
									+icon('letter')
									| Подписка на новости и обзоры
								+e.search-wrap
									+search('Введите ваш email', 'email', false)
					+e.search-wrap
						+search('Поиск по новостям и обзорам')
					+e.row.row
						.col-12
							+news-item({
								img: 'news-item-img-5.jpg',
								item: 'Мебель',
								oneMore: 'Товары',
								title: 'Мы&nbsp;представляем универсальный ассортимент школьных товаров от&nbsp;обложек и&nbsp;дневников до&nbsp;настольных наборов и&nbsp;наглядных пособий',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: 'Сегодня, 11:55',
							}).--horizontal
						.col-12
							+news-item({
								img: 'news-item-img-6.jpg',
								item: 'Дизайн, концепты и стройка',
								title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием школьного оборудования, электрических схем, цифровых лабораторий...',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: 'Вчера, 16:30',
							}).--horizontal
						.col-12
							+news-item({
								img: 'news-item-img-7.jpg',
								item: 'Дизайн, концепты и стройка',
								title: 'РОССКЛАСС представляет электронное расписание для школы',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: '4 декабря 2022',
							}).--horizontal
						.col-12
							+news-item({
								img: 'news-item-img-5.jpg',
								item: 'Мебель',
								oneMore: 'Товары',
								title: 'Мы&nbsp;представляем универсальный ассортимент школьных товаров от&nbsp;обложек и&nbsp;дневников до&nbsp;настольных наборов и&nbsp;наглядных пособий',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: 'Сегодня, 11:55',
							}).--horizontal
						.col-12
							+news-item({
								img: 'news-item-img-6.jpg',
								item: 'Дизайн, концепты и стройка',
								title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием школьного оборудования, электрических схем, цифровых лабораторий...',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: 'Вчера, 16:30',
							}).--horizontal
						.col-12
							+news-item({
								img: 'news-item-img-7.jpg',
								item: 'Дизайн, концепты и стройка',
								title: 'РОССКЛАСС представляет электронное расписание для школы',
								text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
								date: '4 декабря 2022',
							}).--horizontal
					+pugin
					+tags().d-lg-none
	// end sNewsBlock