mixin sNewsBlock(data)
	// start sNewsBlock
	+b.SECTION.sNewsBlock.section#sNewsBlock&attributes(attributes)
		+e.search-wrap
			+search('Поиск по новостям и обзорам')
		+e.row.row
			.col-12
				+news-item({
					img: 'news-item-img-5.jpg',
					item: 'Мебель',
					oneMore: 'Товары',
					title: 'Мы&nbsp;представляем универсальный ассортимент школьных товаров от&nbsp;обложек и&nbsp;дневников до&nbsp;настольных наборов и&nbsp;наглядных пособий',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: 'Сегодня, 11:55',
				}).--horizontal
			.col-12
				+news-item({
					img: 'news-item-img-6.jpg',
					item: 'Дизайн, концепты и стройка',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием школьного оборудования, электрических схем, цифровых лабораторий...',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: 'Вчера, 16:30',
				}).--horizontal
			.col-12
				+news-item({
					img: 'news-item-img-7.jpg',
					item: 'Дизайн, концепты и стройка',
					title: 'РОССКЛАСС представляет электронное расписание для школы',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: '4 декабря 2022',
				}).--horizontal
			.col-12
				+news-item({
					img: 'news-item-img-5.jpg',
					item: 'Мебель',
					oneMore: 'Товары',
					title: 'Мы&nbsp;представляем универсальный ассортимент школьных товаров от&nbsp;обложек и&nbsp;дневников до&nbsp;настольных наборов и&nbsp;наглядных пособий',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: 'Сегодня, 11:55',
				}).--horizontal
			.col-12
				+news-item({
					img: 'news-item-img-6.jpg',
					item: 'Дизайн, концепты и стройка',
					title: 'Потолочная система электроснабжения применяется для обеспечения электропитанием школьного оборудования, электрических схем, цифровых лабораторий...',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: 'Вчера, 16:30',
				}).--horizontal
			.col-12
				+news-item({
					img: 'news-item-img-7.jpg',
					item: 'Дизайн, концепты и стройка',
					title: 'РОССКЛАСС представляет электронное расписание для школы',
					text: 'Расписание школьных уроков представлено в&nbsp;удобной и&nbsp;наглядной интерактивной форме. Управляйте..',
					date: '4 декабря 2022',
				}).--horizontal
		+pugin
		+tags().d-lg-none
	// end sNewsBlock